.cart-body{
  background-color: #2E2E2E;
  height: 703px;
}
.back-arrow{
  font-size: 40px;
  font-weight: bold;
}
.empty-content{
  margin-top: 10%;
}
.txt-empty{
  color: white;
  text-align: center;
}
.empty-icon{
  color: white;
  text-align: center;
}
