.cart-content {
  width: 95vw;
  margin-right: 20px;
}
.cart-content h6 {
  color: $text-secondary;
}
.edit-icon {
  justify-content: center;
}
.selected-food h6 {
  color: $text-secondary;
}
.numberInput{
  width: 30px;
}
