@import "./color";
.checkout-btn-container {
  display: flex;
  justify-content: center;
}
.row-padding {
  padding-top: 25px;
  padding-left: 15px;
}
.decrease-button {
  width: 26px;
  height: 26px;
  background-color: $color-primary;
  color: $backGround-color-secondary;
  font-size: 30px;
  font-weight: 100;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}
.increase-button {
  width: 26px;
  height: 26px;
  background-color: $color-primary;
  color: $backGround-color-secondary;
  font-size: 30px;
  font-weight: 100;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 2px;
  border-radius: 4px;
}
.checkout-btn {
  position: fixed;
  background-color: $text-primary;
  color: $backGround-color-secondary;
  font-size: 14px;
  font-weight: 700;
  width: 250px;
  height: 40px;
  bottom: 50px;
  border: 0px;
  border-radius: 22px;
  justify-items: center;
  z-index: 1;
}
.add-promo-btn {
  background-color: $text-primary;
  color: $backGround-color-secondary;
  font-size: 12px;
  font-weight: 700;
  width: 90%;
  height: 50%;
  border: 0px;
  border-radius: 8px;
  justify-items: center;
}
.btn-hide {
  display: none;
}
.cart-content h6 {
  color: $text-secondary;
  font-weight: bold;
}
.edit-icon {
  text-align: right;
  padding-top: 10%;
  color: white;
}
.selected-food h6 {
  color: $text-secondary;
  font-size: 12px;
}
.selected-food p {
  font-size: 11px;
}
.numberInput {
  width: 26px;
  height: 26px;
  background-color: $backGround-color-secondary;
  border: 1px solid $text-primary;
  text-align: center;
  font-size: medium;
  font-weight: 600;
  color: white;
  padding-left: 6px;
  padding-right: 6px;
  margin-left: 1px;
  border-radius: 4px;
  border: none;
}
.odered-items {
  border-top: 3px solid $backGround-color-primary;
  padding-top: 20px;
  padding-bottom: 15px;
}
.amount {
  text-align: right;
  padding-right: 6px;
}
.total-amount {
  background-color: $backGround-color-primary;
  height: 100px;
}
