@import "./color";
.ant-menu-item-selected {
  background-color: #141414 !important;
  border: none;
}
.cart .ant-drawer-title {
  flex: 1 1;
  margin: 0;
  color: $text-primary;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}
.ant-drawer-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 24px;
  color: rgba(0, 0, 0, 0.85);
  background: #fff;
  border-bottom: 1px solid #f0f0f0;
  border-radius: 2px 2px 0 0;
}

.icon {
  font-size: 20px;
  text-align: center;
  color: #f9f9fa;
}
.icon:hover {
  cursor: pointer;
}
.logo {
  text-align: center;
  margin-top: 10px;
  z-index: 1000000;
}

.logo-style {
  width: 45px;
}

.ant-menu-inline.ant-menu-root .ant-menu-item > .ant-menu-title-content,
.ant-menu-inline.ant-menu-root
  .ant-menu-submenu-title
  > .ant-menu-title-content {
  flex: auto;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  color: white;
}
.search-box-container {
  display: flex;
  justify-content: center;
}
.header-search-box-section {
  font-size: 16px;
  color: #0000007d !important;
  background: #141414;
  border: 2px solid #dbb154;
  border-radius: 15px;
  width: 40vw;
}
.main-header {
  padding: 0px !important;
  height: 70px !important;
}
.mobile-header {
  background-color: #000000;
}
.web-header {
  padding: 0;
  background-color: #141414;
}
.ant-btn-loading {
  background-color: #faad14 !important;
  width: 110px;
  border-radius: 10px;
  border: 0px;
}
.location-confirm-btn {
  background-color: #faad14;
  width: 110px;
  border-radius: 10px;
  border: 0px;
}
.location {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.location .map-header {
  position: absolute;
  color: #707070;
  top: 5px;
  z-index: 55555;
}
.location .input-select-location {
  color: #707070;
  width: 130px;
  padding: 6px;
}
.map-view {
  width: 95%;
  height: 270px;
  padding-bottom: 15px;
}
.map {
  width: 90%;
}
.location .close-btn {
  position: absolute;
  right: 5px;
  background: #ef5d66;
  width: 20px;
  height: 20px;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  top: 5px;
  cursor: pointer;
  z-index: 55555;
}

@media (max-width: 420px) {
  .web-header {
    display: none;
  }
}

@media (min-width: 421px) {
  .mobile-header {
    display: none;
  }
}
