.header {
  background: #2e2e2e;
}
.back-arrow {
  font-size: 40px;
  font-weight: bold;
}
h3{
  color: white;
}
.menu-content{
  margin-top: 20px;
  height: 90px;
  border-bottom: 3px solid #2e2e2e;
}
.menu-name{
  float: left;
}
.menu-img{
  float: right;
}
