
.header {
  background: #2e2e2e;
  padding-top: 15px;
  padding-bottom: 15px;
}
.back-arrow {
  font-weight: bold;
  font-size:xx-large;
  
}

h3{
  color: white;
}
.menu-content{
  margin-top: 20px;
  height: 90px;
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: 3px solid #2e2e2e;
}
.menu-name{
  float: left;
}
.menu-img{
  float: right;
}
