span.navbar-toggler-icon {
  background-color: rgb(235, 235, 226);
  float: right !important;
}
.fixed-top {
  top: 0;
  right: 0;
  left: 0;
  z-index: 529;
}
.cart-icon {
  margin-right: -23px;
}
.sidebarContent {
  width: 100px;
}

.site-drawer-render-in-current-wrapper {
  position: relative;
  height: 200px;
  padding: 48px;
  overflow: hidden;
  text-align: center;
  background: #fafafa;
  border: 1px solid #ebedf0;
  border-radius: 2px;
}
