@import "./color";
.headerStyle {
  font-size: 26px;
  font-weight: bold;
  color: $text-primary;
  background: none;
}
.viewAllStyle {
  font-size: 22px;
  font-weight: bold;
  color: $text-primary;
  background: none;
  margin-bottom: 30px;
}
.txtStyle {
  color: $text-secondary;
  margin: 0px;
  background: none;
}
.subTextStyle {
  font-size: 12px;
  color: $text-secondary;
  background: none;
}
.content {
  padding: 2%;
}
.contentHeader {
  text-align: left;
  background: none;
}
.viewAll {
  text-align: right;
}
.contentImage {
  height: 27vh;
  width: 45vw;
  color: #fff;
  line-height: 160px;
  text-align: center;
  margin-right: 20px;
  border: 2px solid #2e2e2e;
  border-radius: 15px;
}
.contentItemTxt {
  padding-top: 15px;
  margin-left: 10px;
}
.contentItems {
  margin-top: 15px;
  float: left;
  padding-bottom: 25px;
}
.restaurantImage {
  height: 30vh;
  width: 30vw;
  color: #fff;
  line-height: 160px;
  text-align: center;
  margin-right: 20px;
  border: 2px solid #2e2e2e;
  border-radius: 15px;
}
.more-btn {
  text-align: center;
  margin-top: 10vh;
  margin-bottom: 20vh;
}
.more-btn button {
  background-color: $text-primary;
  color: $backGround-color-secondary;
  font-size: 26px;
  font-weight: 700;
  width: 25vw;
  height: 11vh;
  bottom: 50px;
  border: 0px;
  border-radius: 50px;
  justify-items: center;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  font-size: 18px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-button-prev {
  left: 1px !important;
  color: black !important;
  background-color: $color-primary;
  padding: 36px 21px;
  border-radius: 7px;
}
.swiper-button-next {
  right: 1px !important;
  color: black !important;
  background-color: $color-primary;
  padding: 36px 21px;
  border-radius: 7px;
}
.swiper-button-next,
.swiper-button-prev {
  top: 34% !important;
}

footer {
  height: 18vh;
  background-color: black;
  line-height: 18vh;
  padding: 0px 35px;
  font-size: small;
}

@media (max-width: 426px) {
  .swiper-button-prev {
    display: none !important;
  }
}
@media (max-width: 426px) {
  .swiper-button-next {
    display: none !important;
  }
}
@media (max-width: 426px) {
  .headerStyle {
    font-size: 18px;
  }
  .viewAll {
    display: none;
  }
  .all-restaurants {
    display: none;
  }
  .more-btn {
    display: none;
  }
  footer {
    display: none;
  }
  .restaurantImage {
    height: 30vh;
    width: 95vw;
  }
}
@media (min-width: 426px) {
  .restaurants-mobile-view {
    display: none;
  }
}
