@import './color';
.headerStyle {
  font-size: 26px;
  font-weight: bold;
  color: $text-primary;
  background: none;
  margin-bottom: 30px;
}
.txtStyle {
  color: $text-secondary;
  background: none;
}
.subTextStyle {
  font-size: 12px;
  color: $text-secondary;
  background: none;
}
.favoriteContent {
  margin-left: 0.9vw;
}
.favoriteImage {
  height: 18vh;
  width: 45vw;
  color: #fff;
  line-height: 160px;
  text-align: center;
  background: #364d79;
  margin-right: 20px;
  border: 2px solid #2e2e2e;
  border-radius: 15px;
}
.favoriteItems {
  margin-top: 15px;
  float: left;
  padding-bottom: 25px;
}
.availableContent {
  margin-left: 0.9vw;
}
.availableImage {
  height: 18vh;
  width: 45vw;
  color: #fff;
  line-height: 160px;
  text-align: center;
  background: #364d79;
  margin-right: 20px;
  border: 2px solid #2e2e2e;
  border-radius: 15px;
}
.availableItems {
  margin-top: 15px;
  float: left;
  padding-bottom: 25px;
}
.allRestaurants {
  margin-left: 0.9vw;
}
.allRestaurants-items {
  margin-top: 15px;
  padding-bottom: 25px;
  width: 90vw;
}
.allRestaurants-img {
  width:95vw;
  height: 230px;
  color: #fff;
  background: #364d79;
  margin-right: 20px;
  margin-top: 30px;
  margin-bottom: 15px;
  border: 2px solid #2e2e2e;
  border-radius: 15px;
}
