@import "./color";
.ant-input-search .ant-input,
.ant-input-search .ant-input {
  background-color: $backGround-color-primary;
  border: 0;
  border-radius: 65px;
  color: rgb(222, 222, 222);
}
.ant-input-search
  > .ant-input-group
  > .ant-input-group-addon:last-child
  .ant-input-search-button:not(.ant-btn-primary) {
  color: rgb(222, 222, 222);
  background-color: $backGround-color-primary;
  border: 0;
  border-radius: 65px;
}
.ant-input-search > .ant-input-group > .ant-input-group-addon:last-child {
  left: -1px;
  padding: 0;
  border: 0;
  background-color: $backGround-color-primary;
  border: 0;
  border-radius: 65px;
}
@media (min-width: 421px) {
  .search-box-section {
    display: none;
  }
}
