.profile{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #141414;

}
.anticon{
  color:  #ffaa00 !important ;
}
.user{
    display: flex;
  justify-content: space-around;
}
#place{
  color: $text-primary;
  margin-left: 2rem;
}
#add{
    color: white;
    font-weight: 900;
}
.addbtn{
   
   margin-left: 2rem;
   
}

.address{
    padding: .3rem 1rem;
    margin-top: 1.5rem;
    font-weight: bolder;
font-size: 14px;
    color: black;
    background-color: #ffaa00;
    border: none;
    border-radius: 6px;
}
