.helpline {
    display: flex;
    justify-content: space-evenly;
    background-color: #2e2e2e;
    height: 90px;
    align-items: center;
    margin-bottom: 1rem;
}

.help{
    display: inline-block;
    
}