.otpbox{
    position: absolute;
    width: 100%;
    height:100%;
 background-color: #000000;
}

.otp {
   
  margin: 15rem auto;
   justify-content: center;
   border: 3px solid #554627;
   border-radius: 8px;
    width: 40%;
    height: 50%;
    background-color: #141414;
    text-align: center;
    padding: 1rem;
}

.input-field {

    display: flex;
    justify-content: space-evenly;
    border: none;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2.5rem;

}

.input-text {
    background-color: #000000;
    border-radius: 15px;
    border: 2px solid #554627;
    width: 3.5rem;
    height: 3rem;
    color: white;
    font-size: 1.2rem;
    text-align: center;
}

#text {
    color: #ffaa00;
    text-align: left;
    font-size: 14px;
}

#button {
    padding: .5rem 2.5rem;
    margin-top: 1.5rem;
    font-weight: bolder;
    display: inline-block;
    color: black;
    background-color: #ffaa00;
    border: none;
    border-radius: 6px;
}


@media only screen and (min-device-width : 300px) and (max-device-width : 480px) {
    .otpbox{
       
    }
    .otp{
        position: relative;
        width: 100%;
        height: 100%;
    }
}