
.report{
    height: 100%;
    width: 100%;
    position: absolute;
    text-align: center;
    background-color:$backGround-color-primary;
}
.reports{
    display: flex;
    align-items: center;
    flex-direction: column;
}    
.send-b{
    margin-left: 8rem;
    
}

#input{
color: white;
    margin-top: 4rem;
    border: 1px solid #ffaa00;
    border-radius: 10px;
    background-color: black;
    width: 80%;
    height: 18rem;
}
@media  (min-width: 690px) {
#input{
    width: 30%;
}
.reports{
    margin-top: 6rem;
  
}
.send-b{
 margin-left: 0;
    
}
}