@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  /* background-color: black; */
}

a {
  color: inherit;
  text-decoration: none;
}
Link {
  text-decoration: none;
}
* {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
span,
p {
  color: white;
}
